.settings {
    padding: 30px 20px 20px;
    margin-bottom: 60px;
    height: 100vh;
    transition: 0.3s ease-in-out;
}
.settings > h1 {
    font-size: 2.5rem;
}
.darkModeToggler {
    margin-top: 20px;
    background-color: silver;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
}
.iosButton {
    padding: 0 15px;
    background-color: white;
    color: black;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
}
@media only screen and (min-width : 768px) {
    .settings {
        padding: 30px;
        margin: 0 0 0 120px;
    }
}